#miniHero {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
  padding-top: 114px;
  text-align: center;
  color: #fff;
  padding-bottom: 10px;
}
#miniHero h1 {
  font-weight: 800;
  font-size: 3.5rem;
}
nav:nth-child(2) {
  top: 56px;
}

@media only screen and (min-width: 601px) {
  nav:nth-child(2) {
    top: 64px;
  }
}
nav .myBadge {
  background: #8bc34a;
  padding: 8px 5px;
  border-radius: 10px;
  font-weight: bold;
}
nav .myBadge .material-icons {
  font-size: 1em;
  top: 2px!important;
}

nav:nth-child(1) .material-icons {
  position: relative;
  top: 8px;
}