.linkcards > div {
  padding: 5px !important;
}
.relpos{
  position: relative;
}
.linkcards a {
  width: 100%;
  height: 150px;
  display: block;
  border-radius: 15px;
  box-shadow: 2px 2px 3px 0px #999;
  transition: 0.3s all;
  padding: 25px;
  color: black;
  font-weight: 650;
  text-align: left;
  background-color: #fff;
}
.linkcards a:hover {
  box-shadow: 2px 2px 3px 0px #333;
}

#subscribe {
  padding: 25px 0;
}
#subscribe label {
  color: green !important;
}
#subscribe input[type="submit"] {
  background: green;
  font-weight: bold;
  text-transform: uppercase;
}
.small-text {
  font-size: 12px !important;
}

*:not(.material-icons) {
  font-family: "Quicksand", sans-serif !important;
}
.boldest {
  font-weight: 800!important;
}
.bolder {
  font-weight: 600 !important;
}
#loader {
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 30vh;
  z-index: 1000;
}
nav {
  background: transparent;
  position: relative;
  height: 64px!important;
  box-shadow: none;
}
nav a.brand-logo {
  left: 10px;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  height: 100%;
}
nav .sidenav-trigger {
  display: block !important;
}
.brand-logo img {
  width: 50px!important;
  height: 50px!important;
}
nav img,
nav .sidenav-trigger span {
  left: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#home {
  min-height: calc(100vh - 64px - 50px);
  padding: 50px 50px 0 50px;

}
#home h1 {
  font-size: 20vw;
}

#home h4 {
  font-size: 30px;
  padding: 0 15px;
}

.page-footer {
  background-color: #27a661;
}
.footer-copyright {
  background-color: rgb(25 40 84 / 20%) !important;
}
.sidenav a span.material-icons {
  position: relative;
  top: 6px;
}

#home .btn {
  font-weight: 600;
  background: #27a661;
  margin-top: 10px;
  margin-right: 5px;
  border-radius: 20px;
  padding: 3px 10px;  
  line-height: 30px;
}
#home .btn.inverted{
  color: #27a661;
  background: transparent;
}
#home img{
  width: 100%;
}

#home .blob{
  position: absolute;
  top: 0;
  width: auto;
  z-index: -1;
}
#home .blob.left{
  left:0;
  height: 75px;
}
#home .blob.right{
  right:0;
  height: 150px;
}

.blob.middle{  
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 0;
  top: -50%;
}