*:not(.material-icons) {
  font-family: "Montserrat", sans-serif!important;
}
.boldest {
  font-weight: 800!important;
}
.bolder {
  font-weight: 600!important;
}
#loader {
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 30vh;
  z-index: 1000;
}
nav {
  background: #0A6D55;
  position: fixed;
  z-index: 999;
}
nav a.brand-logo {
  left: 5px;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  height: 100%;
}
nav .sidenav-trigger {
  display: block !important;
}
nav img,
nav .sidenav-trigger span {
  left: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#home {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  padding-top: 70px;
  text-align: center;
  color: #fff;
}
#home h1 {
  font-size: 20vw;
}
#home h4 {
  font-size: 30px;
  padding: 0 15px;
}
.sidenav a span.material-icon {
  position: relative;
  top: 6px;
}
.page-footer {
  background-color: #27A661;
}
.footer-copyright {
  background-color: rgb(25 40 84 / 20%) !important;
}
.sidenav a span.material-icons {
  position: relative;
  top: 6px;
}

#home .btn {
  width: 170px;
  font-weight: 600;
  background: #27a661;
  margin: 5px 0;
}
nav:nth-child(1) img{
  height: 44px;
}
@media only screen and (min-width: 601px) {
  nav:nth-child(1) img{
    height: 50px;
  }
}