<li>
    <div class="user-view">
        <img src="images/logo-black.png">
    </div>
</li>
<li>
    <div class="divider"></div>
</li>
<li>
    <p class="bolder">Within <span data-source="within">10</span> km</p>

    <p class="range-field">
        <input type="range" id="within" min="1" max="10" value="10" />
    </p>
</li>
<li>
    <div class="divider"></div>
</li>
<li>
    <p class="bolder">Type</p>
    <div class="menu-items-cont">
        <span class="menu-item">Online</span><span class="menu-item">Brick & Mortar</span>
    </div>
</li>
<li>
    <div class="divider"></div>
</li>
<li>
    <p class="bolder">Price (HK$)</p>
    <div class="input-field">
        <i class="material-icons prefix">arrow_downward</i>
        <input id="minprice" type="number" class="validate">
        <label for="minprice">Minimum</label>
      </div>
      <div class="input-field">
          <i class="material-icons prefix">arrow_upward</i>
          <input id="maxprice" type="number" class="validate">
          <label for="maxprice">Maximum</label>
        </div>

</li>
<li>
    <div class="divider"></div>
</li>

<li>
    <br>
    <br>
</li>
<script>
    $("input[type=range]").change(function () {
        $("*[data-source=" + $(this).attr('id') + "]").text($(this).val());
    });
</script>