<li>
    <div class="user-view">
        <img src="images/logo-black.png">
    </div>
</li>
<li>
    <div class="divider"></div>
</li>
<li>
    <a href="#">
        <span class="material-icons middled">
            home
        </span>
        Home
    </a>
</li>
<li>
    <div class="divider"></div>
</li>
<li>
    <a href="#">
        <span class="material-icons">
            construction
        </span>
        Something
    </a>
</li>
<li>
    <a href="#">
        <span class="material-icons">
            timeline
        </span>
        Something
    </a>
</li>
<li>
    <a href="#">
        <span class="material-icons">
            extension
        </span>
        Something
    </a>
</li>
<li>
    <a href="#">
        <span class="material-icons">
            lightbulb
        </span>
        Something
    </a>
</li>